body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

.content {
    margin-top: 100px;
}

.description-i {
  position: absolute;
  top: 165px;
}

/*not great overwrites*/
.CategoryRadioButtons-root-125{
    display: inline !important;
}

.cardWrapper{
    display: flex;
    flex-wrap: wrap;
}
.cardWrapper > div {
    margin: 5px;
}
